@page "/lista"
@using Repaso.Controllers
@using Repaso.Entidades
<h3>Listado</h3>

<table class="table">
	<thead>
		<tr>
			<td>Monto</td>
			<td>Semana</td>
			<td>Concepto</td>
			<td>Cuota</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Lista)
		{
		<tr>
			<td>@item.Monto</td>
			<td>@item.Semanas</td>
			<td>@item.Concepto</td>
			<td>@item.Cuota</td>
			<a class="btn btn-outline-danger btn-sm" href="prestamo/@item.PrestamosId">Editar</a>
		</tr>
		}
	</tbody>
</table>

@code {

	public List<Prestamos> Lista { get; set; }
	protected override void OnInitialized()
	{
		PrestamoController db = new PrestamoController();

		Lista = new List<Prestamos>();
		Lista = db.Listado(e => true);
	}
}
