@page "/ListadoPrestamos"
@using ProyectoPrestamo.Entidades;
@using ProyectoPrestamo.BLL2;
<h3>Listado de Prestamos</h3>



<table class="table">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Monto</th>
			<th>Semanas</th>
			<th>Concepto</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Lista)
		{
			<tr>
				<td>@item.Fecha</td>
				<td>@item.Monto</td>
				<td>@item.Semanas</td>
				<td>@item.Concepto</td>
			</tr>
		}
	</tbody>

</table>

@code {
		public List<Prestamos> Lista { get; set; }

		protected override void OnInitialized()
	{
		RepositorioBase<Prestamos> db = new RepositorioBase<Prestamos>();

		Lista = new List<Prestamos>();
		Lista = db.GetList(e => true);
	}
}
