@page "/RegistroPrestamos"
@using ProyectoPrestamo.DAL;
@using ProyectoPrestamo.Entidades;
@using ProyectoPrestamo.BLL2;

<h3>Registro de Prestamos</h3>

<EditForm Model="@Prestamo" OnValidSubmit="@Guardar">


		<label for="Fecha">Fecha</label>
		<InputDate Id="fecha" @bind-Value="@Prestamo.Fecha" class="form-control"></InputDate>

		<div class="col-4">
			<label for="monto">Monto:</label>
			<InputNumber id="monto" @bind-Value="Prestamo.Monto" class="form-control" />
		</div>
		<div class="col-4">
			<label for="semana">Semanas:</label>
			<InputNumber id="semanas" @bind-Value="Prestamo.Semanas" class="form-control" />

		</div>
		<div class="col-4">
			<label for="direccion">Concepto:</label>
			<InputTextArea id="concepto" @bind-Value="Prestamo.Concepto" class="form-control" />
			<ValidationMessage For="@(()=>Prestamo.Concepto)" />
		</div>

		<br/>
		<button type="submit" class="btn btn-outline-primary" >Guardar</button>
		<DataAnnotationsValidator/>

</EditForm>

@code {


	public Prestamos Prestamo = new Prestamos();

	private void Guardar()
	{
		RepositorioBase<Prestamos> prestamos = new RepositorioBase<Prestamos>();

		try
		{
			prestamos.Guardar(Prestamo);

		}
		catch (Exception)
		{

			throw;
		}

		Prestamo = new Prestamos();

	}

}
